body{
    margin: 75px 0 0 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: stretch;
    font-family: "Segoe UI", "Roboto Oxygen-Sans", Arial, sans-serif;
}

header{
    position: fixed;
    height: 75px;
    width: 100vw;
    top: 0;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    align-items: center;
    justify-content:space-around;
    line-height: 75px;
}

#Logo{
    flex-grow: 1;
}
#Msgs,#Not,#Menu{
    flex-grow: 1;
}

#Inicio, #Siguiendo, #explorar, #User{
    flex-grow: 2;
}

#searchbar{
    flex-grow: 9;
    display: flex;
    justify-content: center;
    height: 80%;
}
#searchbar input{
    width: 90%;
    height: 60%;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.3);
}
.img-fluid{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
div.col{
    width: 16.59vw;
}

div.col div{
    height:  100%;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;

}

div.col div.dos{
    height: 200px;
}
div.col div.cuatro{
    height: 400px;
}
div.col div.seis{
    height: 600px;
}
div.col div .containerImage
{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height:  100%;
  padding: 0;
  box-sizing: border-box;
  width:  100%;
  overflow: hidden;
}
